<%-include('header')-%>

<form action="/route/login" method="post" class="p-4 d-flex flex-column justify-content-center align-items-center position-relative  text-white">
    <h1 class="mb-3 display-5">Login</h1>
    <% if (typeof message !== 'undefined') { %>
        <p style="color:red"><%= message %></p>
      <% } %>
    <div class="input-box d-flex justify-content-between align-items-center position-relative mb-3 w-100">
        <input type="text" name="email" class=" rounded-pill pl-3 text-white w-100 h-100" placeholder="Email" value="<%= email || '' %>" required>
        <ion-icon name="mail-outline"></ion-icon>
    </div>

    <div class="input-box d-flex justify-content-between align-items-center position-relative mb-3 w-100 ">
        <input type="text" name="password" class=" rounded-pill pl-3 text-white w-100 h-100"  placeholder="Password" value="<%= password || '' %>" required>
        <ion-icon name="lock-closed-outline"></ion-icon>
    </div>
    <button type="submit" class="submit-btn btn btn-light rounded-pill w-100">submit</button>
   
</form>
<%-include('footer')-%>